:root {
  --brand-dark-blue: #00296b;
  --brand-primary-blue: #00509d;
  --brand-secondary-yellow: #fdc500;
  --brand-disabled: #cad2c5;
  --brand-warning-red: #e76f51;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--brand-dark-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}
